.container-acerca {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 20px;
    grid-template-areas:
        "hero hero hero"
        "equipo equipo equipo"
        "mis-vis-val mis-vis-val mis-vis-val"
        "frase frase frase"
        "footer footer footer";
}

.container-acerca > div {
    height: 200px;
}

.container-acerca .hero {
	background-color: #D1E8E2;
    grid-area: hero;
}

.container-acerca .equipo {
    grid-area: equipo;
}

.container-acerca .mis-vis-val {
    grid-area: mis-vis-val;
}

.container-acerca .frase {
    grid-area: frase;
}

.container-acerca .footer {
    grid-area: footer;
}
