.container-contacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    grid-template-areas:
        "hero hero hero"
        "lugares lugares lugares"
        "cartas cartas cartas"
        "footer footer footer";
}

.container-contacto > div {
    height: 200px;
}

.container-contacto .lugares {
    grid-area: lugares;
    background-color: aqua;
}

.container-contacto .cartas {
    grid-area: cartas;
    background-color: aquamarine;
}

.container-contacto .footer {
    background-color: blue;
    grid-area: footer;
}
