/*---------------Content grid------------------*/
.conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    grid-template-areas:
        "hero hero hero"
        "seccion1 seccion1 img-seccion1"
        "seccion2 seccion2 seccion2"
        "footer footer footer";
  background-color: #2c3531;
}

.conteiner .hero {
    background-color: brown;
    grid-area: hero;
}

.conteiner .seccion1 {
    background-color: black;
    grid-area: seccion1;
}

.conteiner .img-seccion1 {
    background-color: aquamarine;
    grid-area: img-seccion1;
}

.conteiner .seccion2 {
    grid-area: seccion2;
    background-color: bisque;
}

.conteiner .footer {
    grid-area: footer;
}
